@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --breakpoint-xl: 57rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 160rem;

  --font-myriad: "myriad-pro", "Arial Narrow", sans-serif;
  --font-myriad-condensed: "myriad-pro-cond", "Arial Narrow", sans-serif;
  --font-open-sans: "Open Sans", Arial, sans-serif;
  --font-menu: "myriad-pro", "Arial Narrow", sans-serif;
  --color-menu-text: #09090b;
  --color-menu-text-dark: #f4f4f5;
  --color-teal-dark: #102f2e;
  --color-teal-mid: #1b6460;
  --color-teal: #23736f;
  --color-green: #699948;
  --color-green-mid: #5a853e;
  --color-green-dark: #3a5f28;
  --color-natura-lime: #d8df50;
  --color-natura-mid: #dad248;
  --color-natura-dark: #b9b326;
  --background-image-gradient-buttom: linear-gradient(0deg, #1b716f 0%, #a0ae20 100%);
}

html,
body {
  min-height: 100%;
}

.max_page {
  @apply mx-auto max-w-[2560px];
}

.dm_button {
  @apply font-myriad-condensed bg-gradient-buttom border-teal-dark hover:border-natura-mid group-hover:border-natura-mid from-green to-natura-lime 3xl:text-[2.5rem] rounded-md border-2 bg-linear-to-b from-55% pt-1 pb-1 text-center text-lg leading-none font-black text-white transition-all duration-300 hover:scale-105 xl:rounded-xl xl:border-4 xl:text-[1.8vw];
}

button.dm_button {
  @apply font-myriad-condensed bg-gradient-buttom border-teal-dark hover:border-natura-mid group-hover:border-natura-mid from-green to-natura-lime 3xl:text-[2.5rem] rounded-md border-2 bg-linear-to-b from-55% pt-1 pb-1 text-center text-lg leading-none font-black text-white transition-all duration-300 hover:scale-85 xl:rounded-xl xl:border-4 xl:text-[1.8vw];
}

.splide__arrows {
  @apply pointer-events-none absolute top-1/2 z-10 flex w-full -translate-y-1/2 transform justify-between;
}

.splide__arrow {
  @apply pointer-events-auto w-18 cursor-pointer fill-none stroke-white/75 stroke-[.3rem];
}

.carrouselReports.splide__arrow {
  @apply stroke-natura-mid/75 pointer-events-auto w-18 cursor-pointer fill-none stroke-[.3rem];
}

.splide__arrow--prev {
  @apply rotate-180;
}

.splide__arrow svg {
  @apply size-12;
}

.splide__arrow:focus,
.splide__arrow:hover {
  @apply stroke-white transition-colors duration-300;
}

.splide__pagination__page {
  @apply relative top-4 m-2 size-2 cursor-pointer rounded-full bg-white/60;
}

.splide__pagination__page.is-active {
  @apply scale-125 bg-white;
}

.menu_link {
  @apply font-menu 3xl:text-xl text-menu-text dark:text-menu-text-dark text-xl 2xl:text-[0.93vw];
}

.newsVaultBox {
  --sb-track-color: #004340;
  --sb-thumb-color: #dad248;
  --sb-size: 8px;
}

.newsVaultBox::-webkit-scrollbar {
  width: var(--sb-size);
}

.newsVaultBox::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

.newsVaultBox::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  .newsVaultBox {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
